* {
    box-sizing: border-box;
}

body {
    padding-top: 4rem;
    margin: 0px;
    color: darkslategrey;
    --type-primary: Helvetica, Arial, sans-serif;
    --type-secondary: "Spectral", Georgia;
    font-family: var(--type-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    display: block;
    font-size: 1rem;
    font-family: var(--type-primary);
    color: darkslategrey;
}

.container {
    max-width: 75rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh + 10rem);
}

.AppBody {
    flex: 1;
}
